<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8" homePageUrl="http://www.hhh1989.top" homePageName="嘿嘿的<%= blog.title %>"></script>
  </head>
  <body>
  </body>
</html>