	<!--底部文件-->
	<script type="text/javascript">
		//点击 按钮 弹出下拉框
		$('.ui .dropdown').dropdown();
		//鼠标悬浮在头像上,弹出气泡提示框
		$(".psot-content .avatar").popup({
			inline : true,
			postion : 'bottom right',
			lastResort : 'bottom right',
		});
	</script>
	</body>
</html>
