<!--头部文件-->
<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="UTF-8">
		<title><%= blog.title %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
		<script src="/javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/semantic.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
<%- include('components/nav') %>
<%- include('components/nav-setting')%>
<%- include('components/notification')%>